{% comment %}this snippet is used on contactus page and on footer{% endcomment %}
<table>
    <tr>
        <td>Phone:</td>
        <td><a href="tel:919-783-6551">(919) 783-6551</a></td>
    </tr>
    <tr class="email">
        <td>Email:</td>
        <td><a href="mailto:quyenchangdds@gmail.com">quyenchangdds@gmail.com</a></td>
    </tr>
    <tr>
        <td>Location:</td>
        <td><a href="{{site.googleMapUrl}}">3388 Six Forks Road</a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="{{site.googleMapUrl}}">Raleigh, NC 27609</a></td>
    </tr>
</table>
