<footer>
    <section class="site-margin footer-content">
        <section class="footer-section footer-site-links">
            <h4>Site Links</h4>
            <ul>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/dentalcare">Dental Care</a></li>
                <li><a href="/patientinfo">Patient Information</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
        </section>
        <section class="footer-section footer-social-links">
            <h4>Social Links</h4>
            <ul>
                <li><a href="https://www.facebook.com/pages/Quyen-D-Chang-DDS/718694151609466">
                    <span class="icon"><img src="img/footer_icon_facebook.png" alt="facebook icon"></span>Facebook</a></li>
                <li><a href="https://plus.google.com/+QuyenChangFamilyDentistryRaleigh">
                    <span class="icon"><img src="img/footer_icon_googleplus.png" alt="google plus icon"></span>Google +</a></li>
                <li><a href="https://instagram.com/quyenchangdds/">
                    <span class="icon"><img src="img/footer_icon_instagram.png" alt="instagram icon"></span>Instagram</a></li>
                <li><a href="http://youtube.com/QuyenChangFamilyDentistryRaleigh">
                    <span class="icon"><img src="img/footer_icon_youtube.png" alt="youtube icon"></span>Youtube</a></li>
                <li><a href="https://twitter.com/quyenchangdds">
                    <span class="icon"><img src="img/footer_icon_twitter.png" alt="twitter icon"></span>Twitter</a></li>
            </ul>
        </section>
        <section class="footer-section footer-contact-info">
            <h4>Get in touch with us</h4>
            <table>
                <tr>
                    <td>Phone:</td>
                    <td><a href="tel:919-783-6551">(919) 783-6551</a></td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td>3388 Six Forks Road</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Raleigh, NC 27609</td>
                </tr>
            </table>
            <button class="schedule-btn" name="schedule-btn-footer">Schedule an Appointment</button>
        </section>
        <section class="footer-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d51756.92962732991!2d-78.6180768094671!3d35.82918368848438!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac58c0c0790af1%3A0xe500c455547a95e9!2s3388+Six+Forks+Rd%2C+Raleigh%2C+NC+27609!5e0!3m2!1sen!2sus!4v1433101315285" width="300" height="200" frameborder="0" style="border:0"></iframe>
        </section>
    </section>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="jssrc/validator.js"></script>
<script src="jssrc/submit.js"></script>





