<header class="site-margin">
  <div class="header-banner">
      <figure>
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/img/icon_header_logo.png" alt="logo banner"></a>
      </figure>
      <div class="header-action-call">
          <div>
            <a href="{{site.baseurl}}/contactus">
              <span>Find Us <span class="icon icon-location"><img src="{{site.baseurl}}/img/icon_header_location.png" alt="location icon"></span></span>
            </a>
            <span class="separator">|</span>
            <span>Call us at <span class="number"><a href="tel:919-783-6551">(919) 783-6551</a></span></span>
          </div>
          <button class="schedule-btn" name="schedule-btn-header">Schedule an Appointment</button>
      </div>
  </div>
  <nav class="site-nav">
      <ul>
        <li><a class={% if page.category contains "aboutus" %}"selected"{% else %}"allowhover"{% endif %} href="{{site.baseurl}}/aboutus">About Us</a></li>
        <li>
            <a class={% if page.category contains "dentalcare" %}"selected"{% else %}"allowhover"{% endif %} href="{{site.baseurl}}/dentalcare">Dental Care</a>
            <div class="menu">
                <ul>
                    <li><a href="{{site.baseurl}}/dentalcare/exams/">Exams and X-Rays</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/cleanings/">Cleanings</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/fillings/">Fillings</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/crowns/">Crowns (Caps)</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/implants/">Implant Crowns</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/bridges/">Bridges</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/dentures/">Dentures</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/rootcanals/">Root Canals</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/extractions/">Extractions</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/nightguards/">Nightguards</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/bleaching/">Bleaching</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/veneers/">Veneers</a></li>
                </ul>
            </div>
        </li>
        <li><a class={% if page.category contains "patientinfo" %}"selected"{% else %}"allowhover"{% endif %} href="{{site.baseurl}}/patientinfo">Patient Information</a></li>
        <li><a class={% if page.category contains "blog" %}"selected"{% else %}"allowhover"{% endif %} href="">Blog</a></li>
        <li><a class={% if page.category contains "contactus" %}"selected"{% else %}"allowhover"{% endif %} href="{{site.baseurl}}/contactus">Contact Us</a></li>
      </ul>
  </nav>

    <div class="modal fade in" id="apptModal" tabindex="-1" role="dialog" aria-labelledby="apptModalLabel" aria-hidden="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
            <h4 class="modal-title" id="apptModalLabel">Schedule an Appointment</h4>
            <p>Please complete and submit the request form below.  We will contact you soon to confirm your appointment.</p>
          </div>
          <div class="modal-body">
            <div id="apptForm-success-msg" class="visuallyhidden">
                <p>Thank you!</p>
                <p>We will contact you shortly.</p>
            </div>
            <form id="apptForm" method="POST" name="contactform" role="form" data-toggle="validator" action="{{site.baseurl}}/contact-form-handler.php">
              <div class="form-group">
                <label for="contact-name" class="control-label">Name:</label>
                <input type="text" class="form-control" id="contact-name" name="name" data-error="Please fill in your name" required>
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <label for="contact-number" class="control-label">Phone Number:</label>
                <input type="tel" class="form-control" id="contact-number" name="number" data-error="Please fill in your phone number" required>
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <label for="contact-email" class="control-label">Email:</label>
                <input type="email" class="form-control" id="contact-email" name="email" pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,3})$" data-error="Please fill in your email" required>
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <label for="contact-message" class="control-label">Additional Comments:</label>
                <textarea class="form-control" id="contact-message" name="message"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <p>Please note this form is only for requesting an appointment. If you need to cancel or reschedule an existing appointment, or if this is an emergency, please contact our office directly by calling (919) 783-6551.</p>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="apptForm-send-btn">Send message</button>
          </div>
        </div>
      </div>
    </div>

</header>