<header class="site-margin">
  <div class="header-banner">
      <figure>
        <div class="mobile-header-title">Quyen D. Chang, DDS</div>
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/img/icon_header_logo.png" alt="logo banner"></a>
      </figure>
      <div class="header-action-call">
          <div>
            <a href="{{site.baseurl}}/contactus">
              <span>Find Us <span class="icon icon-location"><img src="{{site.baseurl}}/img/icon_header_location.png" alt="location icon"></span></span>
            </a>
            <span class="separator">|</span>
            <span>Call us at <span class="number"><a href="tel:919-783-6551">{{site.phone}}</a></span></span>
          </div>
          <button class="schedule-btn" name="schedule-btn-header">Schedule an Appointment</button>
      </div>
  </div>
  <nav class="site-nav">
      <ul>
        <li><a class={% if page.category contains "aboutus" %}"selected"{% else %}"allowhover"{% endif %} href="{{site.baseurl}}/aboutus">About Us</a></li>
        <li>
            <a class={% if page.category contains "dentalcare" %}"selected"{% else %}"allowhover"{% endif %} href="{{site.baseurl}}/dentalcare">Dental Care</a>
            <div class="menu">
                <ul>
                    <li><a href="{{site.baseurl}}/dentalcare/exams/">Exams and X-Rays</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/cleanings/">Cleanings</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/fillings/">Fillings</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/crowns/">Crowns (Caps)</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/implants/">Implant Crowns</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/bridges/">Bridges</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/dentures/">Dentures</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/rootcanals/">Root Canals</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/extractions/">Extractions</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/nightguards/">Nightguards</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/bleaching/">Bleaching</a></li>
                    <li><a href="{{site.baseurl}}/dentalcare/veneers/">Veneers</a></li>
                </ul>
            </div>
        </li>
        <li><a class={% if page.category contains "patientinfo" %}"selected"{% else %}"allowhover"{% endif %} href="{{site.baseurl}}/patientinfo">Patient Information</a></li>
        <li><a class={% if page.category contains "blog" %}"selected"{% else %}"allowhover"{% endif %} href="{{site.baseurl}}/blog">Blog</a></li>
        <li><a class={% if page.category contains "contactus" %}"selected"{% else %}"allowhover"{% endif %} href="{{site.baseurl}}/contactus">Contact Us</a></li>
      </ul>
  </nav>

  <!-- Holiday / Closure Section -->
  {% comment %}
    {% include alerts/thanksgiving.html %}
    {% include alerts/covid19.html %}
    {% include alerts/christmas.html %}
    {% include alerts/july4.html %}
  {% endcomment %}

  {% include alerts/christmas_2021.html %}
  {% include alerts/covid19-reopen.html %}
</header>
