// variables/functions
$basefont: 14;
@function em($target, $context: $basefont) {
	@return ($target / $context) * 1em;
}

/* site css */
.visuallyhidden {
  display: none;
}
body {
  margin: 0px;
  border-top: 3px solid $blue;
}
.site-margin {
  width: 1000px;
  margin: auto;
}
.site-content {
  position: relative;
}
a, a:hover {
	text-decoration: none;
}
button {
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 20px;
  &.schedule-btn:hover {
    box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
  }
}
@font-face { font-family: calendas; src: url('Calendas_Plus.otf'); }



/* page left nav bar */
.page-nav {
  float: left;
  width: em(245);
	h1 {
	  font-size: em(32);
	  font-family: calendas;
	  font-weight: 100;
	  margin: em(16,32) 0px em(24,32) 0px;
	}
	section {
	  font-family: roboto;
		h2 {
		  color: $blue;
		  font-weight: 300;
		  font-size: em(15);
		}
		// ul element used on DentalCare/Blog pages
		ul {
		  padding-left: em(24);
			li {
			  list-style-type: none;
			  padding-bottom: em(18);
			}
		}
	}
}

/* css for fixed nav bar */
.aboutus-content .page-nav {
  transition:top 1s linear;
}
.navbar-fixed {
  top: -10px;
  z-index: 100;
  position: fixed;
}


/* page content */
.page-content {
  margin-left: em(245);
  font-family: roboto;
	h1 {
	  font-size: em(24);
	  font-weight: 300;
	  color: $blue;
	}
	figure {
	  margin: 0px;
		img {
		  padding-top: em(8);
		}
	}
}
