// variables/functions

$basefont: 14;
@function em($target, $context: $basefont) {
	@return ($target / $context) * 1em;
}


$black: #323234;
$blue: #1e8bc3;
$darkblue: #004C7F;
$orange: #f2784b;
$darkorange: #eb5a2f;



/* site css */
body {
  margin: 0px;
  border-top: 3px solid $blue;
}
.site-margin {
  width: 1000px;
  margin: auto;
}
.site-content {
  position: relative;
}
button {
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 20px;
  &.schedule-btn:hover {
    box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
  }
}
@font-face { font-family: calendas; src: url('Calendas_Plus.otf'); }
.visuallyhidden {
  display: none;
}

/* page left nav bar */
.page-nav {
  float: left;
  width: 245px;
}
.page-nav h1 {
  font-size: 32px;
  font-family: calendas;
  font-weight: 100;
  margin: 16px 0px 24px 0px;
}
.page-nav section {
  text-decoration: none;
  font-family: roboto;
  font-size: 14px;
}
.page-nav section h2 {
  color: #1e8bc3;
  font-weight: 300;
  font-size: 15px;
}
.page-nav ul {
  padding-left: 24px;
}
.page-nav li {
  list-style-type: none;
  padding-bottom: 18px;
}
.page-nav li a {
  text-decoration: none;
}

/* css for fixed nav bar */
.aboutus-content .page-nav {
  transition:top 1s linear;
}
.navbar-fixed {
  top: -10px;
  z-index: 100;
  position: fixed;
}


/* page content */
.page-content {
  margin-left: 245px;
  font-family: roboto;
	h1 {
	  font-size: 24px;
	  font-weight: 300;
	  color: #1e8bc3;
	}
	figure {
	  margin: 0px;
		img {
		  padding-top: 8px;
		}
	}
}
