
/* blog page */
.blog-content .page-nav {
  width: em(230);
  margin-right: em(12);
  h1 {
    margin-top: 0px;
    margin-bottom: em(12,32);
  }
  .post-list {
    h2 {
      margin: 0px;
      padding-left: em(12,15);
      padding-top: em(2,15);
    }
    li:last-of-type {
      padding-bottom: 0px;
    }
  }
}


// -------------------------------------------------------------------------
// --- mq blog css
// -------------------------------------------------------------------------

@media only screen and (max-width:$mqMaxMobile) {
  .blog-content .page-nav {
    display: none;
  }
  .blog-content .page-content {
    margin: 0 em(10);
  }
}
