
/* contact us page */
.contactus-content nav table td:first-of-type {
  font-weight: 300;
  color: #1e8bc3;
  padding-right: 10px;
}
.contactus-content .contactus-map {
  padding-top: 12px;
  padding-bottom: 12px;
}