/* dental care page */
.dentalcare-content .page-nav {
  li a {
    color: $black;
    &.selected {
      font-weight: 400;
    }
  }
}

.dentalcare-content .page-content {
  min-height: em(575);
  .dentalcare-links {
      margin-bottom: em(32);
      ul {
          width: 32%;
          padding-left: em(0);
          display: inline-block;
          font-weight: normal;
          li {
              list-style-type: none;
              text-align: center;
          }
      }
  }
}
