/* dental care page */
.dentalcare-content .page-nav {
  li a {
    color: #323234;
    &.selected {
      font-weight: 400;
    }
  }
}

.dentalcare-content .page-content {
  min-height: 575px;
  .dentalcare-links {
      margin-bottom: 32px;
      ul {
          width: 32%;
          padding-left: 0px;
          display: inline-block;
          font-weight: normal;
          li {
              list-style-type: none;
              text-align: center;
              a {
                  text-decoration: none;
              }
          }
      }
  }
}
