
/* footer */
footer {
  font-size: em(14);
  height: em(244,14);
  background-color: $blue;
  font-family: roboto;
  color: white;
  line-height: em(26,14);
  margin-top: em(36,14);
  .footer-content {
    padding-top: em(25,14);
  }
}

footer .footer-section {
  display: inline-block;
  padding-right: em(12,14);
  width: em(200,14);
  h4 {
    margin: 0px;
  }
  ul {
    padding-left: 0px;
    margin: 0px;
    li {
      display: table;
    }
  }
  a {
    color: white;
  }
}

footer .footer-social-links {
  width: em(170,14);
  span.icon {
    padding-right: em(5,14);
  }
}

footer .footer-contact-info {
  width: em(220,14);
  table td:first-of-type {
    padding-right: em(10,14);
  }
  button {
    position: absolute;
    font-size: em(14);
    padding: em(10) em(20);
    margin-top: em(10);
  }
}

footer .footer-map {
  float: right;
}


// -------------------------------------------------------------------------
// --- mq footer css
// -------------------------------------------------------------------------

@media only screen and (max-width:$mqMaxMobile) {
  footer {
    display: none;
  }
}
