/* header */
header {
  padding-top: em(30);
  font-family: roboto;
  .alert {
    color: red;
    background-color: pink;
  }
}
header .header-banner {
  margin-bottom: em(20);
  .mobile-header-title {
    display: none;
  }
  figure {
    margin-left: em(0);
    height: em(43);
  }
}
header .header-banner .header-action-call {
  float: right;
  font-size: em(16);
  color: $black;
  position: relative;
  top: em(-30,16);
  span.icon-location {
    padding-left: em(4,16);
  }
  .separator {
    padding: 0 em(10,16);
  }
  .number a {
    color: $blue;
    font-weight: 400;
  }
  button {
    padding: em(10,16) em(20,16);
    float: right;
    position: relative;
    top: em(20,16);
  }
}

header .site-nav {
  height: em(35);
  margin-bottom: em(10);
  color: $black;
  ul {
    padding-left: em(0);
    margin: em(0);
    li {
      list-style-type: none;
      float: left;
      padding-right: em(45);
      a {
        color: $black;
        padding: em(10);
      }
    }
  }
}

/* begin - for header drop down menu */
header .site-nav li {
  a.selected {
    background: $darkblue;
    color: white;
    font-weight: 300;
    border-radius: em(5);
  }
  &:hover a.allowhover {
    background: $darkblue;
    color: white;
    border-radius: em(5);
  }

  &:hover div.menu {
  // this is for the Dental Care submenu
    display: block;
  }
  div.menu {
  // this is for the Dental Care submenu
    display: none;
    position: absolute;
    z-index: 1000;
    margin-top: em(4);
    ul {
      background: $darkblue;
      border-radius: em(0) em(5) em(5) em(5);
      li {
        float: none;
        padding: em(3) em(0);
        &:first-of-type {
          border-top-right-radius: em(5);
        }
        &:last-of-type {
          border-bottom-left-radius: em(5);
          border-bottom-right-radius: em(5);
        }
        &:hover {
          background: $blue;
        }
        a {
          color: white;
          padding-left: em(15);
        }
      }
    }
  }
}
/* end - for header drop down menu */


header .modal-footer p {
  text-align: initial;
}
header .modal-body {
  min-height: em(346);
}
header #apptForm-success-msg {
  text-align: center;
  padding-top: em(100);
}




// -------------------------------------------------------------------------
// --- mq header css
// -------------------------------------------------------------------------

@media only screen and (max-width:$mqMaxMobile) {
  header {
    padding-top: em(20);
    .header-banner {
      padding-left: em(65);
      margin-bottom: em(10);
      .mobile-header-title {
        display: block;
        font-size: em(28);
        overflow: hidden;
        white-space: nowrap;
        font-family: calendas;
        font-feature-settings: "salt" 2;
        -moz-font-feature-settings: "salt" 2;
        -ms-font-feature-settings: "salt" 2;
        -webkit-font-feature-settings: "salt" 2;
      }
      a {
        display: none;
      }
      .header-action-call {
        display: none;
      }
    }
    .site-nav {
      display: none;
    }
  }
}
