
/* home page css */
.hero-banner figure {
  height: em(450);
  margin: 0px;
  font-family: roboto;
  font-weight: 100;
  position: relative;
  figcaption {
    font-size: em(32);
    position: absolute;
    bottom: em(20,32);
    padding-left: em(40,32);
    color: $black;
    p {
      margin: 0px;
    }
    p.dds {
      font-size: em(42,32);
      font-family: calendas;
      font-feature-settings: "salt" 2;
      -moz-font-feature-settings: "salt" 2;
      -ms-font-feature-settings: "salt" 2;
      -webkit-font-feature-settings: "salt" 2;
    }
  }
}

section.reasons-to-believe-banner {
  margin-top: em(20);
  ul {
    padding-left: 0px;
    li {
      width: 33%;
      display: table-cell;
      font-family: roboto;
      text-align: center;
      padding: 0 em(30);
      .symbol {
        display: block;
      }
      .tag {
        font-weight: 500;
        font-size: em(18);
        text-transform: uppercase;
      }
      .reason {
        font-family: roboto;
        font-size: em(16);
        width: 85%;
        margin: auto;
      }
    }
  }
}



// -------------------------------------------------------------------------
// --- mq home css
// -------------------------------------------------------------------------

@media only screen and (max-width:$mqMaxMobile) {
  .hero-banner figure {
    figcaption {
      bottom: em(5,32);
      padding-left: em(20,32);
      display: flex;
      flex-flow: row wrap;
      position: relative;
      p {
        text-align: center;
      }
    }
  }
  section.reasons-to-believe-banner {
    display: none;
  }
}
