
/* home page css */
.hero-banner figure {
  height: 450px;
  margin: 0px;
  font-family: roboto;
  font-weight: 100;
  position: relative;
}
.hero-banner figure figcaption {
  font-size: 32px;
  position: absolute;
  bottom: 20px;
  padding-left: 40px;
  color: #323234;
}
.hero-banner figure figcaption p {
  margin: 0px;
}
.hero-banner figure button {
  font-family: roboto;
  font-weight: 100;
  font-size: 26px;
  position: absolute;
  bottom: 40px;
  background-color: #1E8BC3;
  margin-left: 670px;
}
.hero-banner figure figcaption p.dds {
  font-size: 42px;
  font-family: calendas;
  font-feature-settings: "salt" 2;
  -moz-font-feature-settings: "salt" 2;
  -ms-font-feature-settings: "salt" 2;
  -webkit-font-feature-settings: "salt" 2;
}
section.reasons-to-believe-banner {
  margin-top: 20px;
}
.reasons-to-believe-banner ul {
  padding-left: 0px;
}
.reasons-to-believe-banner li {
  width: 33%;
  display: table-cell;
  font-family: roboto;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.reasons-to-believe-banner li .symbol {
  display: block;
}
.reasons-to-believe-banner li .tag {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}
.reasons-to-believe-banner li .reason {
  font-family: roboto;
  font-size: 16px;
  width: 85%;
  margin: auto;
}


.main-window {
  transition: all 0.15s ease-out;
  position: relative;
  z-index: 1;
  background-color: white;
}
.sidebar {
  height: 100%;
  width: 180px;
  position: fixed;
  top: 0px;
  z-index: 0;
  background: #1E8BC3;
  transition: all 0.15s ease-out;
  padding-top: 30px;
  ul {
    list-style-type: none;
    padding-left: 30px;
    li {
      & + li {
        padding-top: 14px;
      }
      a {
        color: white;
      }
    }
  }
}
input#sidebartoggler {
  display: none;
  &:checked ~ .toggle {
    left: 200px;
  }
  &:checked ~ .main-window {
    margin-left: 180px;
  }
}
.toggle {
  display: none;
  color: #1E8BC3;
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 20px;
  font-size: 30px;
  transition: all 0.15s ease-out;
  &:hover {
    cursor: pointer;
    color: #383838;
  }
}
