
.main-window {
  transition: all 0.15s ease-out;
  position: relative;
  z-index: 1;
  background-color: white;
}
.sidebar {
  display: none; // hidden by default
  height: 100%;
  width: em(180);
  position: fixed;
  top: 0px;
  z-index: 0;
  transition: all 0.15s ease-out;
  padding-top: em(30);
  ul {
    list-style-type: none;
    padding-left: em(30);
    li {
      & + li {
        padding-top: em(14);
      }
      a {
        color: transparent;  // hidden by default
      }
    }
  }
}
input#sidebartoggler {
  display: none;  // bidden by default
  &:checked {  // once selected, do the following
    ~ .toggle {
      left: em(200,30);
    }
    ~ .main-window {
      margin-left: em(180);
    }
    ~ .sidebar {
      background: $blue;
      ul li a {
        color: white;
      }
    }
  }
}
.toggle {
  // hidden by default
  // eventually on mobile breakpoint, show this toggle
  display: none;
  color: $blue;
  font-size: em(30);
  position: fixed;
  z-index: 2;
  top: em(20,30);
  left: em(20,30);
  transition: all 0.15s ease-out;
  &:hover {
    cursor: pointer;
    color: $darkpurple;
  }
}

// -------------------------------------------------------------------------
// --- mq mobile menu css
// -------------------------------------------------------------------------

@media only screen and (max-width:$mqMaxMobile) {
  .sidebar {
    display: block;
  }
  .toggle {
    display: block;
  }
}
