
// -------------------------------------------------------------------------
// --- mq requestappt css
// -------------------------------------------------------------------------

@media only screen and (max-width:$mqMaxMobile) {
  body .main-window.main-requestappt {
    position: relative;
  }
  .requestappt-content .page-nav {
    display: none;
  }
  .requestappt-content .page-content {
    margin-left: em(45);
    #apptForm-success-msg {
      padding-top: em(24);
    }
    form {
      padding: em(24) 0;
      margin-right: em(45);
    }
  }
}
