<h5 class="alert">
  <p>
  Due to the recent outbreak of COVID-19, also known as coronavirus, the North Carolina Dental Board has recommended that dental offices close, except for emergency dental treatment, until March 31, 2020. In order to help protect the health of our patients, staff, and community, we have decided to close our office for any non-emergency treatment until April 2, 2020, at the earliest.
  </p>
  <p style="padding: 6px 0px;">
  If you have a dental emergency and need to be seen, please leave a message at <a href="tel:19197836551">(919) 783-6551</a>, or email us at <a href="mailto:{{site.email}}">{{site.email}}</a>. We will be checking those daily.
  </p>
  <p>
  We will be monitoring the situation closely, and will update our website with any new information. We apologize for the inconvenience and thank you for understanding. Please stay safe.
  </p>
</h5>
