<h5 class="alert alert-info">
  We will be closed the following days for the Thanksgiving holiday:
  <ul style="padding: 10px 40px;">
    <li>Wednesday, November 24, 2021</li>
    <li>Thursday, November 25</li>
    <li>Friday, November 26</li>
    <li>Monday, November 29</li>
  </ul>
  We will re-open Tuesday, November 30.
  <p>
  The best way to contact us during this time is via e-mail: <a href="mailto:{{site.email}}">{{site.email}}</a>.
  </p>
  <p>
  We hope you have a Happy Thanksgiving!
  </p>
</h5>
