---
layout: default
category: blog
---

<section class="site-margin site-content blog-content">
  <nav class="page-nav">
      <h1>Blog Posts</h1>
      <section>
          <ul class="post-list">
            {% for post in site.posts %}
              <li>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                <h2>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
              </li>
            {% endfor %}
          </ul>
      </section>
  </nav>
  <section class="page-content">
    <h1 class="entry-title">
      {% if page.title %}
        <a href="{{ root_url }}{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
      {% if post.title %}
        <a href="{{ root_url }}{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      {% endif %}
    </h1>
    <div class="entry-content">	{{ content }}</div>
  </section>

  <div style="clear: both;"></div>
</section>